/* AZProgress */
.azprogress-busy {
	cursor: wait !important;
}

/* Make clicks pass-through */
#azprogress {
	pointer-events: none;
}

#azprogress .bar {
	background: #29d;
	position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
}

/* Fancy blur effect */
#azprogress .peg {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #29d, 0 0 5px #29d;
	opacity: 1.0;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#azprogress .spinner {
	display: block;
	position: fixed;
	z-index: 1031;
	top: 15px;
	right: 15px;
}

#azprogress .spinner-icon {
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	border: solid 2px transparent;
	border-top-color: #29d;
	border-left-color: #29d;
	border-radius: 50%;
	-webkit-animation: azprogress-spinner 400ms linear infinite;
	animation: azprogress-spinner 400ms linear infinite;
}

.azprogress-custom-parent {
	overflow: hidden;
	position: relative;
}

.azprogress-custom-parent #azprogress .spinner,
.azprogress-custom-parent #azprogress .bar {
	position: absolute;
}

@-webkit-keyframes azprogress-spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes azprogress-spinner {
	0% {
		transform: rotate(0deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

/* Prebuilt Transitions */

/* Fade In */
.AZ-FADE-IN {
	animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

/* Fade Out */
.AZ-FADE-OUT {
	animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	
	to {
		opacity: 0;
	}
}

/* Slide In Bottom */
.AZ-SLIDE-IN-BOTTOM {
	animation: slideInBottom 0.5s ease-in-out;
}

@keyframes slideInBottom {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

/* Slide Out Top */
.AZ-SLIDE-OUT-TOP {
	animation: slideOutTop 0.5s ease-in-out;
}

@keyframes slideOutTop {
	from {
		transform: translateY(0);
		opacity: 1;
	}
	
	to {
		transform: translateY(-100%);
		opacity: 0;
	}
}

/*<--[ ROOT ]-->*/

:root {
	--root: 255, 255, 255;
	--root-XCB: 0, 0, 0;
	--root-XCW: 255, 255, 255;
	--root-S: 10px;
	--root-XS: 15px;
	--root-FS: 12px;
	--root-FN: 13.8px;
	--root-FB: 14px;
	--root-FM: 16px;
	--root-FWS: 400;
	--root-FWN: 500;
	--root-FWB: 600;
	--root-FWM: 700;
	
	--root-T: 255, 255, 255;
	--root-OL: 255, 255, 255;
	--root-SG: 0, 0, 0;
	--root-FG: 0, 0, 0;
	--root-BG: 0, 0, 0;
}

* {
	margin: 0;
	padding: 0;
	color: rgb(var(--root-T));
	font-family: 'Roboto Flex', sans-serif;
	box-sizing: border-box;
	image-rendering: smooth;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::placeholder {
	color: rgba(var(--root-T), 0.65);
}

/*
::-webkit-scrollbar {
        width: 5px;
        background: rgba(var(--root-BG), .80);
}

::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: rgb(var(--root-OL));
}
*/

noscript {
	width: 100%;
	height: 100%;
	z-index: 2147483647;
	padding: var(--root-S);
	position: fixed;
	text-align: center;
	font-size: var(--root-S);
	font-weight: var(--root-FWN);
	background: rgb(var(--root-FG));
}

.link {
	cursor: pointer;
	color: rgb(var(--root));
	transition: color .2s;
}

.link:hover {
	color: rgba(var(--root), .5)
}

a {
	text-decoration: none
}

p {
	display: block;
	font-size: 14px;
	line-height: 1.5;
}

svg {
	width: 24px;
	height: 24px;
}

section {
	margin-bottom: var(--root-S);
}

section:last-child {
	margin-bottom: 0;
}

/*CIRCLES-EFFECT*/

.circles {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	overflow: hidden;
	z-index: -5
}

.circles li {
	display: block;
	list-style: none;
	position: absolute;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, .5);
	animation: 25s linear infinite animate;
	bottom: -150px
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0);
		opacity: 1;
		border-radius: 0
	}
	
	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%
	}
}

.circles li:first-child {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s
}

.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s
}

.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s
}

.circles li:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s
}

.circles li:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s
}

.circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s
}

.circles li:nth-child(10) {
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s
}

/*BODY*/

body {
	overflow: auto;
	min-width: 330px;
	background: rgb(var(--root-BG));
}

/*MAIN*/
main {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.AM10000000 {
	padding: var(--root-S);
	width: 100%;
	max-width: 1380px;
	height: 100%;
	min-height: 100vh;
	position: relative;
}

.AM10000000.IS-NOW {
	margin-left: 0
}

/*INDEX*/

.AI10000000 {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.AI10000000 .AI11000000 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.AI10000000 .AI11000000 svg {
	width: auto;
	height: 120px;
}

.AI10000000 .AI11000000 h1 {
	color: #FFFFFF;
	font-size: 40px;
	font-weight: 700;
}

.AI10000000 .AI11000000 p {
	font-size: 16px;
	font-weight: 500;
	margin-top: 15px;
	margin-bottom: 15px;
}

.AI10000000 .AI11000000 .AI11100000 {
	height: 40px;
	min-width: 275px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: transparent;
	border-radius: 20px;
	margin-bottom: 15px;
}

.AI10000000 .AI11000000 .AI11100000 .AI11110000 {
	height: 40px;
	min-width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	border-radius: 20px;
	backdrop-filter: blur(8px);
	border: 1px solid rgb(var(--root-XCW));
}

.AI10000000 .AI11000000 .AI11100000 .AI11110000 svg {
	width: auto;
	height: 16px;
}

.AI10000000 .AI11000000 .AI11200000 {
	height: 40px;
	min-width: 275px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;
	background: #fff;
	font-size: 16px;
	font-weight: 500;
	border: none;
	border-radius: 20px;
}

.AI20000000 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.AI20000000 h1 {
	line-height: 1.5;
}

/*INDEX-CODE*/

.AI30000000 {
	backdrop-filter: blur(8px);
	border-radius: 5px;
	border: 1px solid rgb(var(--root-XCW));
}

.AI30000000 .AI31000000 {
	height: 40px;
	display: flex;
	padding: 12px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgb(var(--root-XCW));
}

.AI30000000 .AI31000000 .AI31100000 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.AI30000000 .AI31000000 .AI31100000 svg {
	width: 16px;
	height: 16px;
	margin-right: 12px;
}

.AI30000000 .AI31000000 .AI31100000 svg path {
	color: red
}

.AI30000000 .AI31000000 .AI31100000 span {
	font-size: 12px;
	font-weight: 400;
	display: inline-block;
	color: rgb(var(--root-T));
}

.AI30000000 .AI31000000 .AI31200000 {
	display: flex;
	align-items: center;
}

.AI30000000 .AI31000000 .AI31200000 svg {
	width: 16px;
	height: 16px;
}

.AI30000000 .AI31000000 .AI31200000 svg path {
	color: rgb(var(--root-T));
}

.AI30000000 .AI32000000 {
	display: block;
}

.AI30000000 .AI32000000 pre {
	width: 100%;
	background: transparent;
}

.AI30000000 .AI32000000 pre * {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

pre code.hljs {
	display: block;
	overflow-x: auto;
	padding: 1em
}

code.hljs {
	padding: 3px 5px
}

/*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/
.hljs {
	color: #c9d1d9;
	background: transparent !important;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
	/* prettylights-syntax-keyword */
	color: #ff7b72
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
	/* prettylights-syntax-entity */
	color: #d2a8ff
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
	/* prettylights-syntax-constant */
	color: #79c0ff
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
	/* prettylights-syntax-string */
	color: #a5d6ff
}

.hljs-built_in,
.hljs-symbol {
	/* prettylights-syntax-variable */
	color: #ffa657
}

.hljs-comment,
.hljs-code,
.hljs-formula {
	/* prettylights-syntax-comment */
	color: #8b949e
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
	/* prettylights-syntax-entity-tag */
	color: #7ee787
}

.hljs-subst {
	/* prettylights-syntax-storage-modifier-import */
	color: #c9d1d9
}

.hljs-section {
	/* prettylights-syntax-markup-heading */
	color: #1f6feb;
	font-weight: bold
}

.hljs-bullet {
	/* prettylights-syntax-markup-list */
	color: #f2cc60
}

.hljs-emphasis {
	/* prettylights-syntax-markup-italic */
	color: #c9d1d9;
	font-style: italic
}

.hljs-strong {
	/* prettylights-syntax-markup-bold */
	color: #c9d1d9;
	font-weight: bold
}

.hljs-addition {
	/* prettylights-syntax-markup-inserted */
	color: #aff5b4;
	background-color: #033a16
}

.hljs-deletion {
	/* prettylights-syntax-markup-deleted */
	color: #ffdcd7;
	background-color: #67060c
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
	/* purposely ignored */
	
}
